{# This comment helps vim figure out this is a Django HTML file type #}
<!-- This HTML file contains the favicon links. It is meant to be inserted into
     base.html using the Django include tag. -->

{% load static %}

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
<!-- The monochrome Mac Safari icon looks pretty bad, so comment it out -->
<!--link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5"-->
<link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
<meta name="theme-color" content="#ffffff">
