{% extends "base.html" %}

{% block scripts %}
    <!-- Inserts a <script> containing all the MQTT JavaScript common to this
         and the timer page -->
    {% include "mqtt.html" %}

    <script>
      {% if DEBUG %}
          "use strict";
      {% endif %}

      var totalsLocked = true; // Whether the stuff count totals are disabled

      // Split off the first line of the input and replace any remaining
      // newlines with semicolons
      function formatResult(str) {
        var split = str.trim().split(/\n+/);
        if (split.length > 1) {
          var first = split.shift();
          return [first, split.join("; ")];
        } else {
          return [split[0], ""];
        }
      }

      function postForm(e) {
        e.preventDefault(); // Prevent normal form submission

        var error = false;

        // Check each element within the form that has class input-required.
        // Setting has-feedback is recommended by Bootstrap, but it adds
        // excessive padding that cuts off the text in the input. Looking
        // through the Bootstrap CSS, it doesn't appear to do anything we need,
        // so we won't add it.
        $(".input-required", this).each(function () {
          if ($.trim(this.value) === "") {
            error = true;
            // $(this).closest(".form-group").addClass("has-feedback");
            $(this).closest(".form-group").addClass("has-error");
          } else {
            $(this).closest(".form-group").removeClass("has-error");
            // $(this).closest(".form-group").removeClass("has-feedback");
          }
        });

        $(".radio-required", this).each(function () {
          if ($("input:radio:checked", this).length < 1) {
            error = true;
            $(this).closest(".form-group").addClass("has-error");
          } else {
            $(this).closest(".form-group").removeClass("has-error");
          }
        });

        if (!error) {
          $("#commandResult").removeClass("text-success");
          $("#commandResult").removeClass("text-danger");
          $("#commandResult").addClass("text-primary");
          $("#firstCommandResult").text("Sending...");
          $("#extraCommandResults").text("");

          var result = $.post($(this).attr("action"), $(this).serialize());

          result.done(function (response) {
            $("#commandResult").removeClass("text-primary");
            $("#commandResult").removeClass("text-danger");
            $("#commandResult").addClass("text-success");
            var split = formatResult(response);
            $("#firstCommandResult").text(split[0]);
            $("#extraCommandResults").text(split[1]);
          });
          result.fail(function (response) {
            var errorMessage = response.responseText.trim();
            if (errorMessage === "") {
              errorMessage = "Unknown error. (The server may be unreachable.)"
            }
            $("#commandResult").removeClass("text-primary");
            $("#commandResult").removeClass("text-success");
            $("#commandResult").addClass("text-danger");
            var split = formatResult(errorMessage);
            $("#firstCommandResult").text(split[0]);
            $("#extraCommandResults").text(split[1]);
          });
          // $(this)[0].reset(); // Use [0] to get the underlying DOM object
        }
      }

      function updateInputColor() {
        var cell = $(this).parent();
        var inputs = cell.children("input");
        var top = parseInt(inputs[0].value);
        var bottom = parseInt(inputs[1].value);
        cell.removeClass("success");
        cell.removeClass("success-dark");
        if (!isNaN(top) && !isNaN(bottom)) {
          if (top === bottom) {
            cell.addClass("success");
          } else if (top > bottom) {
            cell.addClass("success-dark");
          }
        }
      }

      function postStuffForm() {
        var message = $("#saveTotalsResult");
        message.removeClass("text-success");
        message.removeClass("text-danger");
        message.removeClass("text-warning");
        message.text("Saving...");
        var result = $.post($("#stuffForm").attr("action"),
          $("#stuffForm").serialize());
        result.done(function () {
          message.addClass("text-success");
          message.text("Saved!");
        });
        result.fail(function (response) {
          message.addClass("text-danger");
          message.text("Error: " + response.responseText);
        });
      }

      function setUnsavedMessage() {
        var message = $("#saveTotalsResult");
        message.removeClass("text-danger");
        message.removeClass("text-success");
        message.addClass("text-warning");
        message.text("Unsaved changes");
      }

      function clearStuffFormCounts() {
        $("#stuffTables td").each(function () {
          var numer = $("input", this).get(0); // Get the 1st input in the td
          if (typeof numer !== "undefined") {
            numer.value = "";
            $(numer).trigger("input");
          }
        });
      }

      function toggleStuffTotalsLock() {
        totalsLocked = !totalsLocked;
        updateStuffTotalsDisabledState();
      }

      function updateStuffTotalsDisabledState() {
        $("#stuffTables td").each(function () {
          var denom = $("input", this).get(1); // Get the 2nd input in the td
          if (typeof denom !== "undefined") {
            if (totalsLocked) {
              $(denom).attr("disabled", "");
            } else {
              $(denom).removeAttr("disabled");
            }
          }
        });
        if (totalsLocked) {
          $("#lockUnlockText").text("Unlock");
        } else {
          $("#lockUnlockText").text("Lock");
        }
      }

      // Show the spans for the selected message type and hide the other spans
      function showCurrentMessageSpans() {
        $("#playerMessageTimeSpan").addClass("hidden");
        $("#jailMessageTimeSpan").addClass("hidden");
        $("#bothMessageTimeSpan").addClass("hidden");
        $("#playerMessageSpan").addClass("hidden");
        $("#jailMessageSpan").addClass("hidden");
        $("#bothMessageSpan").addClass("hidden");
        $("#" + this.value + "MessageTimeSpan").removeClass("hidden");
        $("#" + this.value + "MessageSpan").removeClass("hidden");
      }

      // Called when an MQTT message arrives
      function onMessageArrived(message) {
        console.info("onMessageArrived: " + message.destinationName + ": " +
            message.payloadString);

        var msg = message.payloadString;
        var topic = message.destinationName.substring(11);
        switch (topic) {
          case 'config':
            if (msg === "none") {
              $("#startTimeSpan").text("none");
              $("#numFlagsSpan").text("");
              $("#gameNumSpan").text("");
              $("#territorySpan").text("");
            } else {
              var split = splitOnWhitespace(msg, 7);
              $("#startTimeSpan").text(split[0]);
              $("#numFlagsSpan").text(split[4]);
              $("#gameNumSpan").text(split[5]);
              $("#territorySpan").text(split[6]);
            }
            break;
          case 'flags':
            var split = splitOnFirstWhitespace(msg);
            // Ignore split[0] which is the timestamp
            var flags = split[1];
            if (flags === "?") {
              $("#hiddenFlagsSpan").text("?");
              $("#redFlagsSpan").text("");
              $("#yellowFlagsSpan").text("");
            } else {
              var flagsSplit = splitOnWhitespace(flags, 2);
              $("#hiddenFlagsSpan").text("");
              $("#redFlagsSpan").text(flagsSplit[0]);
              $("#yellowFlagsSpan").text(flagsSplit[1]);
            }
            break;
          case 'endtime':
            $("#endTimeSpan").text(msg);
            break;
          // In all three message cases, append a non-breaking space so that
          // empty messages don't change the page layout.
          case 'message':
            var split = splitOnFirstWhitespace(msg);
            $("#bothMessageTimeSpan").text(split[0]);
            $("#bothMessageSpan").text(split[1]);
            $("#bothMessageSpan").append("&nbsp;");
            break;
          case 'message/player':
            var split = splitOnFirstWhitespace(msg);
            $("#playerMessageTimeSpan").text(split[0]);
            $("#playerMessageSpan").text(split[1]);
            $("#playerMessageSpan").append("&nbsp;");
            break;
          case 'message/jail':
            var split = splitOnFirstWhitespace(msg);
            $("#jailMessageTimeSpan").text(split[0]);
            $("#jailMessageSpan").text(split[1]);
            $("#jailMessageSpan").append("&nbsp;");
            break;
          case 'messagereset':
            $("#hideMessagesTimeSpan").text(msg);
            break;
          default:
            console.error("Unknown topic: " + message.destinationName);
        }
      }

      $(document).ready(function () {
        // Form submit actions
        $(".form-ajax-submit").submit(postForm);
        $(".form-no-submit").submit(function (e) {e.preventDefault();});

        // Message type changes
        $("input[name='message_type']").change(showCurrentMessageSpans);

        // Stuff table cell coloring
        $("#stuffTables input").on("input", updateInputColor);

        // Stuff table "unsaved changes" message
        $("#stuffTables input:last-child").on("input", setUnsavedMessage);

        // Stuff table buttons
        $("#clearCountsButton").click(clearStuffFormCounts);
        $("#lockTotalsButton").click(toggleStuffTotalsLock);
        $("#saveTotalsButton").click(postStuffForm);
        updateStuffTotalsDisabledState(); // Update based on the initial value

        // Setup the MQTT client and connect. This function is defined in
        // mqtt.html, which is included above. This defines mqttClient as the
        // global variable for the client connection.
        initMqtt(onMessageArrived, true);

        console.info("Finished setup");
      });
    </script>
{% endblock %}

{% block title %}
    CtFwS Judges
{% endblock %}

{% block page_title %}
    Judges
{% endblock %}

{% block judge_label %}
    Logout
{% endblock %}

{% block judge_link %}
    {% url 'logout' %}
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-xs-12">
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li role="presentation" class="active">
        <a href="#gameTabPane" aria-controls="gameTabPane" role="tab"
            data-toggle="tab">
          Game
        </a>
      </li>
      <li role="presentation">
        <a href="#stuffTabPane" aria-controls="stuffTabPane" role="tab"
            data-toggle="tab">
          Stuff
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="gameTabPane">
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8
          col-sm-offset-1 col-sm-10 col-xs-12">

        <div class="row">
          <div class="col-xs-12">
            <p class="text-center help-block">
              The current server value of each field is shown below it's input
              box.
              <br>
              Leave any timestamp blank to use the current server time when the
              command is run.
            </p>
            <div id="commandResult">
              <h4 id="firstCommandResult" class="text-center">&nbsp;</h4>
              <h4 id="extraCommandResults" class="text-center"></h4>
            </div>
          </div>
        </div>

        <hr class="hr-below-form">

        <form class="form-ajax-submit" method="post" action="{% url 'judge' %}">
          {% csrf_token %}
          <div class="row row-small-gutter vertical-center">

            <div class="col-sm-9 col-xs-12">

              <div class="row row-small-gutter vertical-center">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label class="control-label sr-only" for="startTimeInput">
                      Start timestamp
                    </label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <span class="glyphicon glyphicon-time"
                            aria-hidden="true">
                        </span>
                      </div>
                      <input type="text" class="form-control"
                          id="startTimeInput" name="start_timestamp"
                          placeholder="Start timestamp">
                    </div>
                    <p id="startTimeSpan" class="judge-value text-center"></p>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="form-group text-center one-line-radio radio-required">
                    <label class="radio-inline"
                        title="Red defending Wean. Yellow defending Doherty.">
                      <input type="radio" name="territory" value="wd">
                      <span class="text-danger">WeH</span>
                      /
                      <span class="text-warning">DH</span>
                    </label>
                    <label class="radio-inline"
                        title="Red defending Doherty. Yellow defending Wean.">
                      <input type="radio" name="territory" value="dw">
                      <span class="text-danger">DH</span>
                      /
                      <span class="text-warning">WeH</span>
                    </label>
                    <p id="territorySpan" class="judge-value text-center"></p>
                  </div>
                </div>
              </div>

              <div class="row row-small-gutter">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label class="control-label sr-only" for="numFlagsInput">
                      Number of flags
                    </label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <span class="glyphicon glyphicon-flag"
                            aria-hidden="true">
                        </span>
                      </div>
                      <input type="text" class="form-control input-required"
                          id="numFlagsInput" name="num_flags"
                          placeholder="Number of flags">
                    </div>
                    <span class="glyphicon glyphicon-remove form-control-feedback"
                        aria-hidden="true"></span>
                    <p id="numFlagsSpan" class="judge-value text-center"></p>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="form-group">
                    <label class="control-label sr-only" for="gameNumInput">
                      Game number
                    </label>
                    <div class="input-group">
                      <div class="input-group-addon"><strong>#</strong></div>
                      <input type="text" class="form-control input-required"
                          id="gameNumInput" name="game_num"
                          placeholder="Game number">
                    </div>
                    <span class="glyphicon glyphicon-remove form-control-feedback"
                        aria-hidden="true"></span>
                    <p id="gameNumSpan" class="judge-value text-center"></p>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-sm-3 col-xs-12">
              <div class="form-group text-center">
                <div class="checkbox checkbox-below-form">
                  <label>
                    <input type="checkbox" checked name="zero_flags" value="on">
                    Set flags to 0
                  </label>
                </div>
                <button type="submit" class="center-block btn btn-primary">
                  Start Game
                </button>
              </div>
            </div>

          </div>
          <input type="hidden" name="command" value="start_game">
        </form>

        <hr class="hr-below-form">

        <div class="row row-small-gutter row-contains-vr">
          <div class="col-sm-9 col-xs-12">
            <form class="form-ajax-submit" method="post"
                action="{% url 'judge' %}">
              {% csrf_token %}
              <div class="row row-small-gutter">

                <div class="col-sm-9 col-xs-12">
                  <div class="row row-small-gutter">
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label class="control-label sr-only"
                            for="redFlagsInput">
                          Red score
                        </label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <strong>R</strong>
                          </div>
                          <input type="text" class="form-control input-required"
                              id="redFlagsInput" name="red_flags"
                              placeholder="Red score">
                        </div>
                        <span class="glyphicon glyphicon-remove form-control-feedback"
                            aria-hidden="true"></span>
                        <p id="redFlagsSpan"
                            class="judge-value text-center">
                        </p>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="form-group">
                        <label class="control-label sr-only"
                            for="yellowFlagsInput">
                          Yellow score
                        </label>
                        <div class="input-group">
                          <div class="input-group-addon">
                            <strong>Y</strong>
                          </div>
                          <input type="text" class="form-control input-required"
                              id="yellowFlagsInput" name="yellow_flags"
                              placeholder="Yellow score">
                        </div>
                        <span class="glyphicon glyphicon-remove form-control-feedback"
                            aria-hidden="true"></span>
                        <p id="yellowFlagsSpan"
                            class="judge-value text-center">
                        </p>
                      </div>
                    </div>
                  </div>

                  <p id="hiddenFlagsSpan"
                    class="judge-value-hidden text-center">
                  </p>

                </div>

                <div class="col-sm-3 col-xs-12">
                  <div class="form-group">
                    <button type="submit" class="center-block btn btn-primary">
                      Set Flags
                    </button>
                  </div>
                </div>

              </div>
              <input type="hidden" name="command" value="set_flags_number">
            </form>
          </div>

          <div><hr class="vr in-form"></div>

          <div class="col-sm-3 col-xs-12">
            <form class="form-ajax-submit" method="post"
                action="{% url 'judge' %}">
              {% csrf_token %}
              <div class="form-group">
                <button type="submit" class="center-block btn btn-success">
                  Set Flags to ?
                </button>
              </div>
              <input type="hidden" name="command" value="set_flags_hidden">
            </form>
          </div>
        </div>

        <hr class="hr-below-form">

        <div class="row row-small-gutter vertical-center">
          <div class="col-sm-9 col-xs-12">

            <form class="form-ajax-submit" method="post"
                action="{% url 'judge' %}" id="messageForm">
              {% csrf_token %}
              <div class="row row-small-gutter vertical-center">

                <div class="form-group col-xs-6">
                  <label class="control-label sr-only" for="messageTimeInput">
                    Message timestamp
                  </label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-time" aria-hidden="true">
                      </span>
                    </div>
                    <input type="text" class="form-control"
                        id="messageTimeInput" name="message_timestamp"
                        placeholder="Message timestamp">
                  </div>
                  <p id="playerMessageTimeSpan"
                    class="hidden judge-value text-center">
                  </p>
                  <p id="jailMessageTimeSpan"
                    class="hidden judge-value text-center">
                  </p>
                  <p id="bothMessageTimeSpan"
                    class="judge-value text-center">
                  </p>
                </div>

                <div class="form-group text-center col-xs-6 two-line-radio">
                  <label class="radio-inline">
                    <input type="radio" name="message_type" value="player">
                    Players
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="message_type" value="jail">
                    Jail
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="message_type" value="both"
                      checked>
                    Both
                  </label>
                </div>

              </div>
              <div class="row row-small-gutter">

                <div class="form-group col-xs-12">
                  <label class="control-label sr-only" for="messageInput">
                    Message
                  </label>
                  <div class="input-group">
                    <div class="input-group-addon">
                      <span class="glyphicon glyphicon-comment"
                          aria-hidden="true">
                      </span>
                    </div>
                    <input type="text" class="form-control" id="messageInput"
                        name="message" placeholder="Message">
                  </div>
                  <p id="playerMessageSpan"
                    class="hidden judge-value text-center">
                  </p>
                  <p id="jailMessageSpan"
                    class="hidden judge-value text-center">
                  </p>
                  <p id="bothMessageSpan"
                    class="judge-value text-center">
                  </p>
                </div>

              </div>
              <input type="hidden" name="command" value="send_message">
            </form>
          </div>

          <div class="col-sm-3 col-xs-12">

            <div class="form-group text-center">
              <button type="submit" form="messageForm"
                  class="center-block btn btn-primary">
                Send Message
              </button>
              <div class="dropdown">
                <a role="button" data-target="#"
                    id="hideMessagesButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                  Hide messages...
                </a>
                <div class="dropdown-menu dropdown-form dropdown-menu-right"
                    aria-labelledby="hideMessagesButton">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-xs-12 text-center">
                        <form class="form-inline form-ajax-submit" method="post"
                            action="{% url 'judge' %}">
                          {% csrf_token %}
                          <div class="form-group">
                            <label class="control-label"
                                for="hideMessagesTimeInput">
                                Sent before
                            </label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <span class="glyphicon glyphicon-time"
                                    aria-hidden="true">
                                </span>
                              </div>
                              <input type="text" class="form-control"
                                  id="hideMessagesTimeInput"
                                  name="clear_timestamp"
                                  placeholder="Timestamp">
                            </div>
                            <p id="hideMessagesTimeSpan"
                                class="judge-value-xs">
                            </p>
                          </div>
                          <button type="submit"
                              class="btn btn-primary">
                              Submit
                          </button>
                          <input type="hidden" name="command"
                              value="clear_messages">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <hr class="hr-below-form">

        <div class="row row-small-gutter row-contains-vr">
          <div class="col-sm-8 col-xs-12">
            <form class="form-ajax-submit" method="post"
                action="{% url 'judge' %}">
              {% csrf_token %}
              <div class="row row-small-gutter">

                <div class="col-sm-5 col-xs-5">
                  <div class="form-group">
                    <label class="control-label sr-only" for="endTimeInput">
                      End timestamp
                    </label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <span class="glyphicon glyphicon-time"
                            aria-hidden="true">
                        </span>
                      </div>
                      <input type="text" class="form-control" id="endTimeInput"
                          name="end_timestamp" placeholder="End timestamp">
                    </div>
                    <p id="endTimeSpan" class="judge-value text-center"></p>
                  </div>
                </div>

                <div class="col-sm-3 col-xs-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="hide_flags" value="on">
                      Hide flags
                    </label>
                  </div>
                </div>

                <div class="col-sm-3 col-xs-4">
                  <div class="form-group">
                    <button type="submit" class="center-block btn btn-warning">
                      End Game
                    </button>
                  </div>
                </div>

              </div>
              <input type="hidden" name="command" value="end_game">
            </form>
          </div>

          <div class="col-sm-1"><hr class="vr in-form"></div>

          <div class="col-xs-12 visible-xs">
            <hr class="hr-below-form">
          </div>

          <div class="col-sm-3 col-xs-12">
            <form class="form-ajax-submit" method="post"
                action="{% url 'judge' %}">
              {% csrf_token %}
              <div class="form-group">
                <button type="submit" class="center-block btn btn-danger">
                  No Game
                </button>
              </div>
              <input type="hidden" name="command" value="no_game">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="stuffTabPane">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        <form id="stuffForm" class="form-no-submit" method="post"
            action="{% url 'judge' %}">
          {% csrf_token %}

          <div class="row" id="stuffTables">
            <div class="col-md-8 col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h1 class="panel-title">Stuff</h1>
                </div>
                <table class="table table-bordered">
                  <tr>
                    <th class="bg-grey"></th>
                    <th class="danger">Red</th>
                    <th class="success">Green</th>
                    <th class="info">Blue</th>
                    <th>White</th>
                  </tr>
                  <tr>
                    <th>Wands</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_wands.html_name }}"
                        value="{{ totals.red_wands }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.green_wands.html_name }}"
                        value="{{ totals.green_wands }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.blue_wands.html_name }}"
                        value="{{ totals.blue_wands }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.white_wands.html_name }}"
                        value="{{ totals.white_wands }}">
                    </td>
                  </tr>
                  <tr>
                    <th>Belts</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_belts.html_name }}"
                        value="{{ totals.red_belts }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.green_belts.html_name }}"
                        value="{{ totals.green_belts }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.blue_belts.html_name }}"
                        value="{{ totals.blue_belts }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.white_belts.html_name }}"
                        value="{{ totals.white_belts }}">
                    </td>
                  </tr>
                  <tr>
                    <th>Potions</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_potions.html_name }}"
                        value="{{ totals.red_potions }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.green_potions.html_name }}"
                        value="{{ totals.green_potions }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.blue_potions.html_name }}"
                        value="{{ totals.blue_potions }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.white_potions.html_name }}"
                        value="{{ totals.white_potions }}">
                    </td>
                  </tr>
                </table>
              </div>

              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h1 class="panel-title">Flags</h1>
                    </div>
                    <table class="table table-bordered">
                      <tr>
                        <th class="bg-grey"></th>
                        <th class="danger">Red</th>
                        <th class="warning">Yellow</th>
                      </tr>
                      <tr>
                        <th>Flags</th>
                        <td>
                          <input type="number" class="form-control">
                          <hr>
                          <input type="number" class="form-control"
                            name="{{ form.red_flags.html_name }}"
                            value="{{ totals.red_flags }}">
                        </td>
                        <td>
                          <input type="number" class="form-control">
                          <hr>
                          <input type="number" class="form-control"
                            name="{{ form.yellow_flags.html_name }}"
                            value="{{ totals.yellow_flags }}">
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h1 class="panel-title">Hats</h1>
                    </div>
                    <table class="table table-bordered">
                      <tr>
                        <th class="bg-grey"></th>
                        <th class="danger">Red</th>
                        <th class="warning">Yellow</th>
                      </tr>
                      <tr>
                        <th>Hats</th>
                        <td>
                          <input type="number" class="form-control">
                          <hr>
                          <input type="number" class="form-control"
                            name="{{ form.red_hats.html_name }}"
                            value="{{ totals.red_hats }}">
                        </td>
                        <td>
                          <input type="number" class="form-control">
                          <hr>
                          <input type="number" class="form-control"
                            name="{{ form.yellow_hats.html_name }}"
                            value="{{ totals.yellow_hats }}">
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h1 class="panel-title">Glyphs</h1>
                </div>
                <table class="table table-bordered">
                  <tr>
                    <th class="bg-grey"></th>
                    <th class="danger">Red</th>
                    <th class="warning">Yellow</th>
                  </tr>
                  <tr>
                    <th>Jail</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_jail.html_name }}"
                        value="{{ totals.red_jail }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.yellow_jail.html_name }}"
                        value="{{ totals.yellow_jail }}">
                    </td>
                  </tr>
                  <tr>
                    <th>Yukko</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_yukko.html_name }}"
                        value="{{ totals.red_yukko }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.yellow_yukko.html_name }}"
                        value="{{ totals.yellow_yukko }}">
                    </td>
                  </tr>
                  <tr>
                    <th>Alarm</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_alarm.html_name }}"
                        value="{{ totals.red_alarm }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.yellow_alarm.html_name }}"
                        value="{{ totals.yellow_alarm }}">
                    </td>
                  </tr>
                  <tr>
                    <th>Gotcha</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_gotcha.html_name }}"
                        value="{{ totals.red_gotcha }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.yellow_gotcha.html_name }}"
                        value="{{ totals.yellow_gotcha }}">
                    </td>
                  </tr>
                  <tr>
                    <th>Recharge</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_recharge.html_name }}"
                        value="{{ totals.red_recharge }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.yellow_recharge.html_name }}"
                        value="{{ totals.yellow_recharge }}">
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="row vertical-center">
            <div class="col-xs-6">
              <div class="form-group">
                <button id="clearCountsButton" type="button"
                    class="btn btn-warning center-block">
                  Clear Counts
                </button>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group">
                <button id="lockTotalsButton" type="button"
                    class="btn btn-info center-block">
                  <span id="lockUnlockText"></span> Totals
                </button>
              </div>
            </div>
          </div>

          <div class="row vertical-center">
            <div class="col-xs-12">
              <button id="saveTotalsButton" type="button"
                  class="btn btn-primary center-block">
                Save Totals
              </button>
              <p id="saveTotalsResult" class="text-center"></p>
              <p class="text-center help-block">
                Store the current totals (denominators) on the server so the
                page loads with them pre-populated next time.
              </p>
            </div>
          </div>

          <input type="hidden" name="command" value="save_count_totals">
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}
