{% extends "base.html" %}

{% block scripts %}
    <script>
      function postForm(e) {
        e.preventDefault(); // Prevent normal form submission

        var error = false;

        // Check each element within the form that has class input-required
        $(".input-required", this).each(function () {
          if ($.trim(this.value) === "") {
            error = true;
            $(this).closest(".form-group").addClass("has-error");
          } else {
            $(this).closest(".form-group").removeClass("has-error");
          }
        });

        if (!error) {
          $.post($(this).attr("action"), $(this).serialize());
          $(this)[0].reset(); // Use [0] to get the underlying DOM object
        }
      }

      function updateInputColor() {
        var cell = $(this).parent()
        var inputs = cell.children("input");
        var topStr = $.trim(inputs[0].value);
        var bottomStr = $.trim(inputs[1].value);
        if (topStr === bottomStr && topStr !== "") {
          cell.addClass("success");
        } else {
          cell.removeClass("success");
        }
      }

      function postStuffForm() {
        $("#saveTotalsResult").text("");
        $("#saveTotalsResult").removeClass("text-success");
        $("#saveTotalsResult").removeClass("text-danger");
        var result = $.post($("#stuffForm").attr("action"),
          $("#stuffForm").serialize());
        result.done(function () {
          $("#saveTotalsResult").addClass("text-success");
          $("#saveTotalsResult").text("Saved!");
        });
        result.fail(function (response) {
          $("#saveTotalsResult").addClass("text-danger");
          $("#saveTotalsResult").text("Error: " + response.responseText);
        });
      }

      $(document).ready(function () {
        $(".form-ajax-submit").submit(postForm);
        $(".form-no-submit").submit(function (e) {e.preventDefault();});
        $("#saveTotalsButton").click(postStuffForm)
        $("#stuffTables input").on("input", updateInputColor)
      });
    </script>
{% endblock %}

{% block title %}
    CtFwS Judges
{% endblock %}

{% block page_title %}
    Judges
{% endblock %}

{% block judge_label %}
    Logout
{% endblock %}

{% block judge_link %}
    {% url 'logout' %}
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-xs-12">
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li role="presentation" class="active">
        <a href="#gameTabPane" aria-controls="gameTabPane" role="tab"
            data-toggle="tab">
          Game
        </a>
      </li>
      <li role="presentation">
        <a href="#stuffTabPane" aria-controls="stuffTabPane" role="tab"
            data-toggle="tab">
          Stuff
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="gameTabPane">
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8
          col-sm-offset-1 col-sm-10 col-xs-12">

        <div class="row vertical-center">
          <div class="col-xs-12">
            <p class="text-center help-block">
              Leave any timestamp blank to use the current server time when the
              command is run.
            </p>
          </div>
        </div>

        <form class="form-ajax-submit" method="post" action="{% url 'judge' %}">
          {% csrf_token %}
          <div class="row row-small-gutter vertical-center">

            <div class="col-sm-3 col-xs-12">
              <div class="form-group">
                <label class="control-label sr-only" for="startTimeInput">
                  Start timestamp
                </label>
                <input type="text" class="form-control" id="startTimeInput"
                    name="start_timestamp" placeholder="Start timestamp">
              </div>
            </div>

            <div class="col-sm-3 col-xs-6">
              <div class="form-group has-feedback">
                <label class="control-label sr-only" for="numFlagsInput">
                  Number of flags
                </label>
                <input type="text" class="form-control input-required"
                    id="numFlagsInput" name="num_flags"
                    placeholder="Number of flags">
                <span class="glyphicon glyphicon-remove form-control-feedback"
                    aria-hidden="true"></span>
              </div>
            </div>

            <div class="col-sm-3 col-xs-6">
              <div class="form-group has-feedback">
                <label class="control-label sr-only" for="gameNumInput">
                  Game number
                </label>
                <input type="text" class="form-control input-required"
                    id="gameNumInput" name="game_num"
                    placeholder="Game number">
                <span class="glyphicon glyphicon-remove form-control-feedback"
                    aria-hidden="true"></span>
              </div>
            </div>

            <div class="col-sm-3 col-xs-12">
              <div class="form-group">
                <button type="submit" class="center-block btn btn-primary">
                  Start Game
                </button>
              </div>
            </div>

          </div>
          <input type="hidden" name="command" value="start_game">
        </form>

        <hr class="hr-below-form">

        <div class="row row-small-gutter vertical-center">
          <div class="col-sm-9 col-xs-12">
            <form class="form-ajax-submit" method="post"
                action="{% url 'judge' %}">
              {% csrf_token %}
              <div class="row row-small-gutter vertical-center">

                <div class="col-sm-9 col-xs-12">
                  <div class="row row-small-gutter vertical-center">
                    <div class="col-xs-6">
                      <div class="form-group has-feedback">
                        <label class="control-label sr-only" for="redFlagsInput">
                          Red score
                        </label>
                        <input type="text" class="form-control input-required"
                            id="redFlagsInput" name="red_flags"
                            placeholder="Red score">
                        <span class="glyphicon glyphicon-remove form-control-feedback"
                            aria-hidden="true"></span>
                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="form-group has-feedback">
                        <label class="control-label sr-only" for="yellowFlagsInput">
                          Yellow score
                        </label>
                        <input type="text" class="form-control input-required"
                            id="yellowFlagsInput" name="yellow_flags"
                            placeholder="Yellow score">
                        <span class="glyphicon glyphicon-remove form-control-feedback"
                            aria-hidden="true"></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3 col-xs-12">
                  <div class="form-group">
                    <button type="submit" class="center-block btn btn-primary">
                      Set Flags
                    </button>
                  </div>
                </div>

              </div>
              <input type="hidden" name="command" value="set_flags_number">
            </form>
          </div>

          <div class="col-sm-3 col-xs-12">
            <form class="form-ajax-submit" method="post"
                action="{% url 'judge' %}">
              {% csrf_token %}
              <div class="form-group">
                <button type="submit" class="center-block btn btn-success">
                  Set Flags to ?
                </button>
              </div>
              <input type="hidden" name="command" value="set_flags_hidden">
            </form>
          </div>
        </div>

        <hr class="hr-below-form">

        <form class="form-ajax-submit" method="post" action="{% url 'judge' %}">
          {% csrf_token %}
          <div class="row row-small-gutter vertical-center">

            <div class="col-sm-9 col-xs-12">
              <div class="row row-small-gutter vertical-center">
                <div class="form-group col-xs-6">
                  <label class="control-label sr-only" for="messageTimeInput">
                    Message timestamp
                  </label>
                  <input type="text" class="form-control" id="messageTimrInput"
                      name="message_timestamp" placeholder="Message timestamp">
                </div>

                <div class="form-group text-center col-xs-6">
                  <label class="radio-inline">
                    <input type="radio" name="message_type" value="players">
                    Players
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="message_type" value="jail">
                    Jail
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="message_type" value="both"
                      checked>
                    Both
                  </label>
                </div>
              </div>

              <div class="row row-small-gutter">
                <div class="form-group col-xs-12">
                  <label class="control-label sr-only" for="messageInput">Message</label>
                  <input type="text" class="form-control" id="messageInput"
                      name="message" placeholder="Message">
                </div>
              </div>
            </div>

            <div class="col-sm-3 col-xs-12">
              <div class="form-group">
                <button type="submit" class="center-block btn btn-primary">
                  Send Message
                </button>
              </div>
            </div>

          </div>
          <input type="hidden" name="command" value="send_message">
        </form>

        <hr class="hr-below-form">

        <div class="row row-small-gutter">
          <div class="col-sm-9 col-xs-12">
            <form class="form-ajax-submit" method="post"
                action="{% url 'judge' %}">
              {% csrf_token %}
              <div class="row row-small-gutter">

                <div class="col-sm-5 col-xs-5">
                  <div class="form-group">
                    <label class="control-label sr-only" for="endTimeInput">
                      End timestamp
                    </label>
                    <input type="text" class="form-control" id="endTimeInput"
                        name="end_timestamp" placeholder="End timestamp">
                  </div>
                </div>

                <div class="col-sm-3 col-xs-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="hide_flags" value="on">
                      Hide flags
                    </label>
                  </div>
                </div>

                <div class="col-sm-2 col-xs-4">
                  <div class="form-group">
                    <button type="submit" class="center-block btn btn-warning">
                      End Game
                    </button>
                  </div>
                </div>

              </div>
              <input type="hidden" name="command" value="end_game">
            </form>
          </div>

          <div class="col-xs-12 visible-xs">
            <hr class="hr-below-form">
          </div>

          <div class="col-sm-3 col-xs-12">
            <form class="form-ajax-submit" method="post"
                action="{% url 'judge' %}">
              {% csrf_token %}
              <div class="form-group">
                <button type="submit" class="center-block btn btn-danger">
                  No Game
                </button>
              </div>
              <input type="hidden" name="command" value="no_game">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="stuffTabPane">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        <form id="stuffForm" class="form-no-submit" method="post"
            action="{% url 'judge' %}">
          {% csrf_token %}

          <div class="row" id="stuffTables">
            <div class="col-md-8 col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h1 class="panel-title">Stuff</h1>
                </div>
                <table class="table table-bordered">
                  <tr>
                    <th class="bg-grey"></th>
                    <th class="danger">Red</th>
                    <th class="success">Green</th>
                    <th class="info">Blue</th>
                    <th>White</th>
                  </tr>
                  <tr>
                    <th>Wands</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_wands.html_name }}"
                        value="{{ totals.red_wands }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.green_wands.html_name }}"
                        value="{{ totals.green_wands }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.blue_wands.html_name }}"
                        value="{{ totals.blue_wands }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.white_wands.html_name }}"
                        value="{{ totals.white_wands }}">
                    </td>
                  </tr>
                  <tr>
                    <th>Belts</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_belts.html_name }}"
                        value="{{ totals.red_belts }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.green_belts.html_name }}"
                        value="{{ totals.green_belts }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.blue_belts.html_name }}"
                        value="{{ totals.blue_belts }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.white_belts.html_name }}"
                        value="{{ totals.white_belts }}">
                    </td>
                  </tr>
                  <tr>
                    <th>Potions</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_potions.html_name }}"
                        value="{{ totals.red_potions }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.green_potions.html_name }}"
                        value="{{ totals.green_potions }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.blue_potions.html_name }}"
                        value="{{ totals.blue_potions }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.white_potions.html_name }}"
                        value="{{ totals.white_potions }}">
                    </td>
                  </tr>
                </table>
              </div>

              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h1 class="panel-title">Flags</h1>
                </div>
                <table class="table table-bordered">
                  <tr>
                    <th class="bg-grey"></th>
                    <th class="danger">Red</th>
                    <th class="warning">Yellow</th>
                  </tr>
                  <tr>
                    <th>Flags</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_flags.html_name }}"
                        value="{{ totals.red_flags }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.yellow_flags.html_name }}"
                        value="{{ totals.yellow_flags }}">
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="col-md-4 col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h1 class="panel-title">Glyphs</h1>
                </div>
                <table class="table table-bordered">
                  <tr>
                    <th class="bg-grey"></th>
                    <th class="danger">Red</th>
                    <th class="warning">Yellow</th>
                  </tr>
                  <tr>
                    <th>Jail</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_jail.html_name }}"
                        value="{{ totals.red_jail }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.yellow_jail.html_name }}"
                        value="{{ totals.yellow_jail }}">
                    </td>
                  </tr>
                  <tr>
                    <th>Yukko</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_yukko.html_name }}"
                        value="{{ totals.red_yukko }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.yellow_yukko.html_name }}"
                        value="{{ totals.yellow_yukko }}">
                    </td>
                  </tr>
                  <tr>
                    <th>Alarm</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_alarm.html_name }}"
                        value="{{ totals.red_alarm }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.yellow_alarm.html_name }}"
                        value="{{ totals.yellow_alarm }}">
                    </td>
                  </tr>
                  <tr>
                    <th>Gotcha</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_gotcha.html_name }}"
                        value="{{ totals.red_gotcha }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.yellow_gotcha.html_name }}"
                        value="{{ totals.yellow_gotcha }}">
                    </td>
                  </tr>
                  <tr>
                    <th>Recharge</th>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.red_recharge.html_name }}"
                        value="{{ totals.red_recharge }}">
                    </td>
                    <td>
                      <input type="number" class="form-control">
                      <hr>
                      <input type="number" class="form-control"
                        name="{{ form.yellow_recharge.html_name }}"
                        value="{{ totals.yellow_recharge }}">
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="row vertical-center">
            <div class="col-sm-offset-1 col-sm-10 col-xs-12">
              <button id="saveTotalsButton" type="button"
                  class="btn btn-primary center-block">
                Save Count Totals
              </button>
              <p id="saveTotalsResult" class="text-center"></p>
              <p class="text-center help-block">
                Store the current totals (denominators) on the server so the
                page loads with them pre-populated next time.
              </p>
            </div>
          </div>

          <input type="hidden" name="command" value="save_count_totals">
        </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}

