<!-- This HTML file has just one <script> element which contains all the
     JavaScript common to the timer page and judges page. It is meant to be
     inserted into each of those pages using the Django include tag. -->
<script>
  // MQTT config
  var hostname = "ws://kgb.club.cc.cmu.edu:1884/mqtt";
  var clientId = "cmukgb_webapp_" + Math.random().toString(16).substr(2, 8);

  // Called when the client connects
  function onConnect() {
    // Once a connection has been made, subscribe to all topics.
    console.log("onConnect");
    client.subscribe("ctfws/game/#");
  }

  // Called if the client can't connect
  function onConnectFail(failureObject) {
    console.log("onConnectFail: " + failureObject);
  }

  // Called when the client loses its connection
  function onConnectionLost(responseObject) {
    if (responseObject.errorCode !== 0) {
      console.log("onConnectionLost: " + responseObject.errorMessage);
    }
  }

  // Split a string into an array, splitting on whitespace
  // Also check that the resulting array has the expected length
  function splitOnWhitespace(str, expectedLen) {
    var a = str.split(/\s+/);
    if (a.length != expectedLen) {
      console.log("Message does not have the expected number of fields (" +
          expectedLen + "): " + str);
      throw "wrong number of fields";
    }
    return a;
  }

  function splitOnFirstWhitespace(str) {
    var newStr = str.replace(/\s+/, ' ');
    var index = newStr.indexOf(' ');
    if (index === -1) {
      console.log("Message cannot be split on whitespace: " + str);
      throw "cannot split message";
    }
    return [newStr.substring(0, index), newStr.substring(index + 1)];
  }

  $(window).unload(function() {
    console.log("Disconnecting on window close");
    client.disconnect();
  });
</script>

