{# This comment helps vim figure out this is a Django HTML file type #}
<!-- This HTML file contains the MQTT Paho JavaScript library and one
     additional <script> element which contains all the MQTT JavaScript common
     to the timer page and judges page. It is meant to be inserted into each of
     those pages using the Django include tag. -->

{% load static %}

<!-- Compiled and minified MQTT Paho JavaScript -->
<script src="{% static 'paho-mqtt-min.js' %}"></script>

<script>
  // The global object for the MQTT connection
  var mqttClient = null;

  // Called when the client's connect call succeeds
  function onConnectSuccess() {
    // Once a connection has been made, subscribe to all topics.
    console.info("onConnectSuccess");
    mqttClient.subscribe("ctfws/game/#");
  }

  // Called if the client can't connect
  function onConnectFailure(failureObject) {
    console.info("onConnectFailure: " + failureObject);
  }

  // Called when the client loses its connection
  function onConnectionLost(responseObject) {
    if (responseObject.errorCode !== 0) {
      console.warn("onConnectionLost: " + responseObject.errorMessage);
    }
  }

  // Called any time the client connects (including reconnect)
  function onConnected(reconnect) {
    console.info("onConnected: reconnect = " + reconnect);
  }

  // Split a string into an array, splitting on whitespace
  // Also check that the resulting array has the expected length
  function splitOnWhitespace(str, expectedLen) {
    var a = str.split(/\s+/);
    if (a.length != expectedLen) {
      console.error("Message does not have the expected number of fields (" +
          expectedLen + "): " + str);
      throw "wrong number of fields";
    }
    return a;
  }

  function splitOnFirstWhitespace(str) {
    var newStr = str.replace(/\s+/, ' ');
    var index = newStr.indexOf(' ');
    if (index === -1) {
      console.error("Message cannot be split on whitespace: " + str);
      throw "cannot split message";
    }
    return [newStr.substring(0, index), newStr.substring(index + 1)];
  }

  // Construct the mqttClient and connect. The isJudge argument is a bool
  // saying whether the caller is the judges page. It only affects the
  // clientId.
  function initMqtt(isJudge) {
    // Set the hostname and clientID
    var hostname = "ws://kgb.club.cc.cmu.edu:1884/mqtt";
    var clientId = "kgb_web" + (isJudge ? "judge" : "app") + "_" +
      Math.random().toString(16).substr(2, 8);

    // Create the client instance
    mqttClient = new Paho.MQTT.Client(hostname, clientId);

    // Set callback handlers
    mqttClient.onConnected = onConnected;
    mqttClient.onConnectionLost = onConnectionLost;
    mqttClient.onMessageArrived = onMessageArrived;

    // Connect the client
    mqttClient.connect({onSuccess:onConnectSuccess, onFailure:onConnectFailure,
      reconnect:true});
  }
</script>
