{% extends "base.html" %}

{% load static %}

{% block scripts %}
    <!-- ServerDate JavaScript served from the same server as this file -->
    <script src="{% static 'js/ServerDate.js' %}"></script>

    <!-- Inserts a <script> containing all the MQTT JavaScript common to this
         and the judges page -->
    {% include "mqtt.html" %}

    <!-- Runtime + Compiler version of Vue 2.x from CDN -->
    <!-- Use production version (vue.min.js) when deploying -->
    {% if DEBUG %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    {% else %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
    {% endif %}

    <!-- Minified version of vuejs-storage from CDN -->
    <!-- This must be version 1.0.0 as there is a bug in 1.0.1 (the latest as of
         this writing) -->
    <script src="https://cdn.jsdelivr.net/npm/vuejs-storage@1.0.0/dist/vuejs-storage.min.js"></script>

    <script>
      {% if DEBUG %}
          "use strict";
      {% endif %}

      // If useWords, then convert seconds to
      // "[minus ][H hr[s]][M min[s]]S sec[s]"
      // Otherwise, convert seconds to
      // "[-][H:]M:S"
      function toHMSHelper(time, useWords) {
        var negative = false;
        if (time < 0) {
          negative = true;
          time = time * -1;
        }

        var hours = Math.floor(time / 3600);
        time = time - hours * 3600;
        var minutes = Math.floor(time / 60);
        var seconds = time - minutes * 60;

        if (useWords) {
          var result = "";
          if (hours > 0) {
            result += hours + " hr" + (hours === 1 ? "" : "s") + " ";
          }
          if (minutes > 0) {
            result += minutes + " min" + (minutes === 1 ? "" : "s") + " ";
          }
          // Add seconds if there are any or add "0 secs" if there are no
          // hours and no minutes
          if (seconds > 0 || (minutes <= 0 && hours <= 0)) {
            result += seconds + " sec" + (seconds === 1 ? "" : "s");
          }
          return (negative ? "minus " : "") + result.trim();

        } else {
          var result = "";
          if (hours === 0) {
            result = minutes + ":" + (seconds < 10 ? "0" + seconds : seconds);
          } else {
            result =  hours + ":" + (minutes < 10 ? "0" + minutes : minutes) +
              ":" + (seconds < 10 ? "0" + seconds : seconds);
          }
          return (negative ? "-" : "") + result;

        }
      }

      // Convert seconds to "[-][H:]M:S"
      function toHMS(time) {
        return toHMSHelper(time, false);
      }

      // Convert seconds to "[minus ][H hr[s]][M min[s]]S sec[s]"
      function toHMSWords(time) {
        return toHMSHelper(time, true);
      }

      // Get the server's current Unix time in seconds
      function getServerNow() {
        return Math.round(ServerDate.now() / 1000);
      }

      // Get the client's current Unix time in seconds
      function getClientNow() {
        return Math.round(Date.now() / 1000);
      }

      // Log the ServerDate precision and delta every serverDateLogInterval
      function logServerDate() {
        var delta = ServerDate - new Date();
        console.info("ServerDate delta: " + delta + " ms = " +
          toHMS(delta / 1000));
        console.info("ServerDate precision: +/-" + ServerDate.getPrecision() +
          " ms");
      }

      function messageInList(msg, msgList) {
        for (var i = 0; i < msgList.length; i++) {
          if (msg.time === msgList[i].time && msg.body === msgList[i].body) {
            return true;
          }
        }
        return false;
      }

      // Constants
      var updateNowIntervalTime = 500; // ms
      var clockOffsetThreshold = 15; // seconds
      var serverDateLogInterval = 60 * 1000; // ms

      $(document).ready(function() {
        // Log the ServerDate precision and delta
        logServerDate();
        setInterval(logServerDate, serverDateLogInterval);

        if (typeof Vue === "undefined") {
          console.error("Failed to setup Vue");
          return;
        }

        // Vue plugin to store certain instance data in sessionStorage.
        // Adds the 'storage' property to the Vue instance.
        Vue.use(vuejsStorage);

        // Unless otherwise noted, all durations are in stored in seconds and
        // all times are stored as seconds since the UNIX epoch
        new Vue({
          el: '#app', // Have Vue use the #app div as its template
          delimiters: ['[[', ']]'], // Use these since Django uses { { } }
          data: {
            serverNow: getServerNow(),
            clientNow: getClientNow(),
            // Whether the most recent config message was not "none"
            displayGame: false,
            errorMessage: 'Connecting...',
            gameNumber: 0,
            times: {
              start: 0,
              earlyGameEnd: 0, // Time of game end if ended before schduled
            },
            rounds: {
              // Number of jailbreaks. Set by the broker but always should be 4.
              total: 4,
              // Jailbreak length in secs. Also set by broker but always 15 min.
              duration: 15 * 60,
            },
            // Setup length in secs. Also set by broker but always 15 min.
            setupDuration: 15 * 60,
            stun: {
              start: 0,
              length: 60, // Fixed total length of stun
            },
            flags: {
              show: true,
              numRed: 0,
              numYellow: 0,
              perTeam: 0,
            },
            // Whether the red team is defending Wean (null indicates error).
            redInWean: null,
            hideMessagesBefore: 0,
          },
          // Used by vuejs-storage: Everything in this.storage.data should work
          // exactly the same as things in this.data (including being available
          // just as this.foo), except data in storage will persist accross page
          // loads, until the browser is restarted (see window.sessionStorage).
          storage: {
            data: {
              messages: [],
            },
            storage: sessionStorage,
            namespace: 'ctfws-timer',
          },
          // Called after the Vue instance is created
          created: function() {
            // Setup the MQTT client and connect. This function is defined in
            // mqtt.html, which is included above. This defines mqttClient as
            // the global variable for the client connection.
            initMqtt(this.onMessageArrived, this.onConnectionError, false);

            // Update the "now" variables every updateNowIntervalTime. Vue will
            // react to this change and update all UI that uses them.
            var vm = this;
            setInterval(function() {
              vm.serverNow = getServerNow();
              vm.clientNow = getClientNow();
            }, updateNowIntervalTime);
          },
          computed: {
            serverClientDelta: function() {
              return this.serverNow - this.clientNow;
            },
            serverClientAbsDelta: function() {
              return Math.abs(this.serverClientDelta);
            },
            showOffset: function() {
              // Check if the server time is different from the client time by
              // more than clockOffsetThreshhold seconds. If so, warn the user.
              return this.serverClientAbsDelta > clockOffsetThreshold;
            },
            now: function() {
              return this.serverNow;
            },
            gameNumberText: function() {
              // The CtFwS MQTT spec says a game number of 0 "may be
              // interpreted as suppressing indication in the client"
              return this.gameNumber === 0 ? "State" : this.gameNumber;
            },
            setupEnd: function() {
              return this.times.start + this.setupDuration;
            },
            playDuration: function() {
              return this.rounds.total * this.rounds.duration;
            },
            scheduledGameEnd: function() {
              return this.setupEnd + this.playDuration;
            },
            actualGameEnd: function() {
              if (this.times.earlyGameEnd >= this.times.start) {
                return Math.min(this.times.earlyGameEnd, this.scheduledGameEnd);
              } else {
                return this.scheduledGameEnd;
              }
            },
            playTimeElapsed: function() {
              // How many seconds have elapsed in the playing portion of the
              // game. Zero if we are before or during setup. The number of
              // seconds played if the game is over.
              var latestTime = Math.min(this.now, this.actualGameEnd);
              return Math.max(latestTime - this.setupEnd, 0);
            },
            roundNumber: function() {
              // Current jailbreak number (1-indexed)
              return Math.ceil(this.playTimeElapsed / this.rounds.duration);
            },
            roundTimeElapsed: function() {
              var roundStart = (this.roundNumber - 1) * this.rounds.duration;
              return this.playTimeElapsed - roundStart;
            },
            gameState: function() {
              // In the setupEnd case, we use > rather than >=
              // The UI looks best if the last tick of a round (including setup)
              // belongs to that round (the progress bar actually fills all the
              // way up). In the other two cases, we use >= because the moment
              // the game starts we should exit "pre-setup" and the moment the
              // game ends, we should show the end.
              if (this.now >= this.actualGameEnd) {
                return {
                  stateText: "Over",
                  stateColor: "text-danger",
                  subtitleText: "ended",
                  subtitleTime: this.actualGameEnd,
                  gameBarColor: "progress-bar-danger",
                  roundBar: {
                    label: "Jailbreak " + this.roundNumber,
                    elapsed: this.roundTimeElapsed,
                    total: this.rounds.duration,
                    color: "progress-bar-danger",
                  },
                };
              } else if (this.now > this.setupEnd) {
                return {
                  stateText: "In Progress",
                  stateColor: "text-success",
                  subtitleText: "started",
                  subtitleTime: this.setupEnd,
                  gameBarColor: "progress-bar-success",
                  roundBar: {
                    label: "Jailbreak " + this.roundNumber,
                    elapsed: this.roundTimeElapsed,
                    total: this.rounds.duration,
                    color: "progress-bar-warning",
                  },
                };
              } else if (this.now >= this.times.start) {
                return {
                  stateText: "Setup",
                  stateColor: "text-info",
                  subtitleText: "starts",
                  subtitleTime: this.setupEnd,
                  gameBarColor: "progress-bar-success",
                  roundBar: {
                    label: "Setup",
                    elapsed: this.now - this.times.start,
                    total: this.setupDuration,
                    color: "progress-bar-info",
                  },
                };
              } else {
                return {
                  stateText: "Pre-Setup",
                  stateColor: "text-muted",
                  subtitleText: "starts",
                  subtitleTime: this.setupEnd,
                  gameBarColor: "progress-bar-success",
                  roundBar: {
                    label: "Setup",
                    elapsed: 0,
                    total: this.setupDuration,
                    color: "progress-bar-info",
                  },
                };
              }
            },
            roundProgressBar: function() {
              if (this.displayGame) {
                return this.gameState.roundBar;
              } else {
                return {
                  label: "Setup",
                  elapsed: 0,
                  total: 15 * 60, // The default: fifteen minute setup
                  color: "progress-bar-danger",
                };
              }
            },
            gameProgressBar: function() {
              if (this.displayGame) {
                return {
                  elapsed: this.playTimeElapsed,
                  total: this.playDuration,
                  color: this.gameState.gameBarColor,
                };
              } else {
                return {
                  elapsed: 0,
                  total: 4 * 15 * 60, // The default: four fifteen minute rounds
                  color: "progress-bar-danger",
                };
              }
            },
            stunElapsed: function() {
              return Math.min(this.now - this.stun.start, this.stun.length);
            },
            sortedFilteredMessages: function() {
              // Have to capture 'this' in order to use it in showMessage
              var vm = this;
              function showMessage(m) {
                return m.time >= vm.hideMessagesBefore;
              }
              // Compare messages by timestamp such that sorting will put them
              // in order from newest to oldest
              function compareMessages(a, b) {
                return b.time - a.time;
              }
              return this.messages.filter(showMessage).sort(compareMessages);
            },
          },
          methods: {
            clickStun: function() {
              console.info("onStunButtonClick");
              this.stun.start = this.now;
            },
            clickCancel: function() {
              console.info("onCancelButtonClick");
              this.stun.start = 0;
            },
            onConnectionError: function() {
              console.info("onConnectionError");
              this.errorMessage = "Error Connecting to the Server";
            },
            onMessageArrived: function(message) {
              console.info("onMessageArrived: " + message.destinationName +
                  ": " + message.payloadString);

              this.errorMessage = "";

              var msg = message.payloadString;
              var topic = message.destinationName.substring(
                  "ctfws/game/".length);
              switch (topic) {
                case 'config':
                  if (msg === "none") {
                    this.displayGame = false;
                  } else {
                    var split = splitOnWhitespace(msg, 7);
                    var start = parseInt(split[0]);
                    var setup = parseInt(split[1]);
                    var rounds = parseInt(split[2]);
                    var roundlen = parseInt(split[3]);
                    var flags = split[4];
                    var gamenum = split[5];
                    var territory = split[6];
                    if (!isNaN(start) && !isNaN(setup) && !isNaN(rounds) &&
                        !isNaN(roundlen)) {
                      this.times.start = start;
                      this.setupDuration = setup;
                      this.rounds.total = rounds;
                      this.rounds.duration = roundlen;
                      this.flags.perTeam = flags;
                      this.gameNumber = gamenum;
                      if (territory === "wd") {
                        this.redInWean = true;
                      } else if (territory === "dw") {
                        this.redInWean = false;
                      } else {
                        this.redInWean = null;
                      }
                      this.displayGame = true;
                    } else {
                      console.error("Unknown config message: " + msg);
                    }
                  }
                  break;
                case 'flags':
                  var split = splitOnFirstWhitespace(msg);
                  // Ignore split[0] which is the timestamp
                  var flags = split[1];
                  if (flags === "?") {
                    this.flags.show = false;
                  } else {
                    var flagsSplit = splitOnWhitespace(flags, 2);
                    var r = parseInt(flagsSplit[0]);
                    var y = parseInt(flagsSplit[1]);
                    if (!isNaN(r) && !isNaN(y)) {
                      this.flags.numRed = r;
                      this.flags.numYellow = y;
                      this.flags.show = true;
                    } else {
                      console.error("Unknown flag message: " + msg);
                    }
                  }
                  break;
                case 'endtime':
                  var secs = parseInt(msg);
                  if (!isNaN(secs)) {
                    this.times.earlyGameEnd = secs;
                  } else {
                    console.error("Unknown endtime message: " + msg);
                  }
                  break;
                case 'message':
                case 'message/player':
                  var split = splitOnFirstWhitespace(msg);
                  var secs = parseInt(split[0]);
                  var body = split[1];
                  if (!isNaN(secs)) {
                    var newMessage = { time: secs, body: body };
                    if (secs === 1) {
                      // Somewhat "hidden" feature to force clients to clear
                      // their message list in case the judge really needs to
                      // recall a message. If secs is exactly 1, the list is
                      // cleared and the message is ignored.
                      // This is pretty much made useless by the message reset
                      // topic, but there's no harm in leaving this code as a
                      // backup. It serves a slightly different purpose.
                      this.messages = []
                    } else if (!messageInList(newMessage, this.messages)) {
                      this.messages.push(newMessage);
                    }
                  } else {
                    console.error("Unknown message message: " + msg);
                  }
                  break;
                case 'message/jail':
                  console.info("Ignoring jail message: " + msg);
                  break;
                case 'messagereset':
                  var secs = parseInt(msg.trim());
                  if (!isNaN(secs)) {
                    this.hideMessagesBefore = secs;
                  } else {
                    console.error("Invalid messagereset message: " + msg);
                  }
                  break;
                default:
                  console.warn("Unknown topic: " + message.destinationName);
              }
            },
            toPercent: function(elapsed, total) {
              return Math.round((100 * elapsed) / total);
            },
            // Get the color class to apply to a message in the table given it's
            // timestamp
            toMessageColor: function(timestamp) {
              if (this.displayGame) {
                if (timestamp >= this.actualGameEnd) {
                  return "danger"; // Red, game over
                } else if (timestamp > this.setupEnd) { // See gameState() note
                  return "success"; // Green, playing
                } else if (timestamp >= this.times.start) {
                  return "info"; // Blue, setup
                } else {
                  return "active"; // Grey, before setup
                }
              } else {
                return "";
              }
            },
          },
          filters: {
            toHMS: toHMS,
            toHMSWords: toHMSWords,
            secsToLocaleTimeString: function(secs) {
              return new Date(secs * 1000).toLocaleTimeString();
            },
          },
          // Called after Vue has mounted its virtual DOM to the real DOM
          mounted: function() {
            // All initial jQuery needs to be done in here, after Vue has set up
            // the DOM

            // Mobile Safari has a bug that prevents popovers from closing when
            // the user taps away from them. This can be fixed with the below
            // CSS, but we only want to do this when needed because if the
            // device does have a mouse, it makes the mouse always the
            // "clickable" style pointer.
            if (/iPad|iPhone|iPod/.test(navigator.userAgent) &&
                !window.MSStream) {
              $("body").css("cursor", "pointer");
            }

            // Enable the popover on the "What's this?" shown when there is a
            // clock offset.
            $("#offsetPopover").popover();
          },
        });

        console.info("Finished setup");
      });
    </script>
{% endblock %}

{% block page_title %}
    <span v-if="errorMessage">
      [[ errorMessage ]]
    </span>
    <span v-else-if="displayGame">
      Game [[ gameNumberText ]]:
      <span :class="gameState.stateColor">[[ gameState.stateText ]]</span>
    </span>
    <span v-else>
      No Current Game
    </span>
{% endblock %}

{% block container %}
    <div class="row vertical-center">

      <div class="col-sm-offset-1 col-sm-10 col-xs-12">

        <p class="lead text-center">
          <span v-if="displayGame">
            Game [[ gameState.subtitleText ]] at
            [[ gameState.subtitleTime | secsToLocaleTimeString ]]
          </span>
        </p>

        <p v-show="showOffset" class="text-muted text-center">
          Note: Your clock is
          [[ this.serverClientDelta > 0 ? 'behind' : 'ahead of' ]]
          the game's by [[ serverClientAbsDelta | toHMSWords ]].
          <a id="offsetPopover" tabindex="0" role="button"
            data-toggle="popover" data-trigger="focus" data-placement="auto"
            data-html="data-html" data-content=
            "We correct for any difference between your clock
            and the game clock, so you don’t have to do anything for the app
            to work.
            <br>
            However, we still display the game start time and any messages
            using the game clock. Because your clock is off by more than a
            few seconds, this means the times shown may not agree with the
            clock shown on your device."
            >
            What's&nbsp;this?
          </a>
        </p>

      </div>

    </div>
    <div class="row vertical-center">

      <div class="col-sm-offset-1 col-sm-2 col-xs-3">
        <p class="lead text-center">
          [[ roundProgressBar.label ]]
        </p>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="progress">
          <div class="progress-bar" role="progressbar"
            :class="roundProgressBar.color"
            :style="{ width: toPercent(roundProgressBar.elapsed,
              roundProgressBar.total) + '%' }">
          </div>
        </div>
      </div>

      <div class="col-sm-2 col-xs-3">
        <p class="lead text-center">
          [[ roundProgressBar.elapsed | toHMS ]] /
          [[ roundProgressBar.total | toHMS ]]
        </p>
      </div>

    </div>
    <div class="row vertical-center">

      <div class="col-sm-offset-1 col-sm-2 col-xs-3">
        <p class="lead text-center">Game Time Elapsed</p>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="progress">
          <div class="progress-bar" role="progressbar"
            :class="gameProgressBar.color"
            :style="{ width: toPercent(gameProgressBar.elapsed,
              gameProgressBar.total) + '%' }">
          </div>
        </div>
      </div>

      <div class="col-sm-2 col-xs-3">
        <p class="lead text-center">
          [[ gameProgressBar.elapsed | toHMS ]] /
          [[ gameProgressBar.total | toHMS ]]
        </p>
      </div>

    </div>
    <div v-if="stun.start > 0" class="row vertical-center">

      <div class="col-sm-offset-1 col-sm-2 col-xs-3">
        <p class="lead text-center">Stun Timer</p>
      </div>

      <div class="col-sm-6 col-xs-6">
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar"
            :style="{ width: toPercent(stunElapsed, stun.length) + '%' }">
          </div>
        </div>
      </div>

      <div class="col-sm-2 col-xs-3">
        <p class="lead text-center">
          [[ stunElapsed | toHMS ]] / [[ stun.length | toHMS ]]
        </p>
      </div>

    </div>
    <div v-if="stun.start > 0" class="row vertical-center">

      <div class="col-sm-offset-1 col-sm-10 col-xs-12 text-center">
        <button class="btn btn-info btn-lg" type="button"
          @click="clickCancel">
          [[ stunElapsed < stun.length ? 'Cancel' : 'Done' ]]
        </button>
      </div>

    </div>
    <div v-else class="row vertical-center">

      <div class="col-sm-offset-1 col-sm-10 col-xs-12 text-center">
        <button class="btn btn-info btn-lg" type="button"
          @click="clickStun">
          Stun Timer
        </button>
      </div>

    </div>
    <div class="row vertical-center">

      <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="page-header">
          <h2 class="text-center">Flags</h2>
        </div>
      </div>

    </div>
    <div class="row vertical-center">

      <div class="col-sm-offset-1 col-sm-10 col-xs-12">

        <p v-if="displayGame" class="lead text-center">
          <span v-if="redInWean === null">
            Unable to determine team territories.
          </span>
          <span v-else>
            <span class="text-danger">Red</span> defending
            [[ redInWean ? 'Wean' : 'Doherty' ]].
            <span class="text-warning">Yellow</span> defending
            [[ redInWean ? 'Doherty' : 'Wean' ]].
          </span>
        </p>

        <p class="text-muted text-center">
          Note: The head judge may choose to report a score for each team
          rather than a number of flags.
        </p>
      </div>

    </div>
    <div class="row vertical-center">

      <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        <h3 class="text-center">
          Total per side: [[ displayGame ? flags.perTeam : 0 ]]
        </h3>
      </div>

    </div>
    <div v-if="flags.show" class="row vertical-center">

        <div class="col-sm-offset-1 col-sm-5 col-xs-6">
          <h3 class="text-center text-danger">
            Red has: [[ flags.numRed.toLocaleString() ]]
          </h3>
        </div>

        <div class="col-sm-5 col-xs-6">
          <h3 class="text-center text-warning">
            Yellow has: [[ flags.numYellow.toLocaleString() ]]
          </h3>
        </div>

    </div>
    <div v-else class="row vertical-center">

      <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        <h3 class="text-center text-info">
          Team scores hidden
        </h3>
      </div>

    </div>
    <div class="row vertical-center">

      <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="page-header">
          <h2 class="text-center">Messages</h2>
        </div>
      </div>

    </div>
    <div class="row vertical-center">

      <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        <p>
        <strong>Note:</strong>
        Messages sent while the browser is inactive may not appear.
        <br>
        Messages sent before game start are
        <span class="text-muted">grey</span>, during setup are
        <span class="text-info">blue</span>, during game play are
        <span class="text-success">green</span>, and after game end are
        <span class="text-danger">red</span>.
        </p>
      </div>

    </div>
    <div class="row vertical-center">

      <div class="col-sm-offset-1 col-sm-10 col-xs-12">
        <table class="table">
          <tr>
            <th class="col-sm-2 col-xs-2">Time</th>
            <th>Message</th>
          </tr>
          <tr v-if="sortedFilteredMessages.length === 0">
            <td colspan="2" class="text-center">No messages</td>
          </tr>
          <tr v-else v-for="message in sortedFilteredMessages"
            :key="message.time + '|' + message.body"
            :class="toMessageColor(message.time)">
            <td>[[ message.time | secsToLocaleTimeString ]]</td>
            <td>[[ message.body ]]</td>
          </tr>
        </table>
      </div>

    </div>
{% endblock %}
